.propositions__box {
    @include flex-space;
    flex: 100%;
}
.propositions__heading {
   
}
.propositions__contecst-heading {
    text-align: left;
}
.propositions__contecst-description {
    text-align: left;
}
.propositions__icon {
    flex: 20%;
   
}
.propositions__contecst {
    flex: 80%;
     
}
.propositions__img-block {
    float: right;
    width: 100%;
}