.propositions {
    box-sizing: border-box;
    padding-top: 10.6vw;
    padding-bottom: 1.9vw;
    background: #f4f4f4;
    /* position: relative;*/
}

.proposition__wraper {
    /*@include flex-center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center; */
    /*position: relative;*/
}

.proposition__wraper {
    @include clearfix;
}

.propositions__boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /*flex: 100%;*/
    text-align: center;
}

.propositions__box {
    margin-bottom: 38px;
    flex: 100%;

}

.propositions__icon {
    @include flex-center;
    height: auto;
}

.propositions__icon img {
    max-width: 100%;
}

.propositions__heading {
    margin-bottom: 34px;
    color: #8d81ac;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.propositions__contecst {
    box-sizing: border-box;
    line-height: 15px;
    padding-left: 23px;
}

.propositions__contecst-heading {
    color: #323232;
    margin-top: 23px;
    margin-bottom: 16px;
    /*text-align: center;*/
}

.propositions__contecst-description {
    font-family: 'Lato', sans-serif;
    color: #848e97;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}

/*.bcg-1 {
    background-image: url(../img/editor.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
}*/

.propositions__img {
    //    flex: 100%;
    //    height: 519px;
    /*position: absolute;
    bottom: 0;
    left: 0;*/
    // max-width: 100%;
}

.propositions__img-block {
    /*float: 0;*/
    width: 100%;
    margin-right: 0;
    /* margin-left: 90px;*/
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*.propositions__img-block {
    width: 700px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
}*/
