
    .propositions {
        padding-top: 34px;
        padding-bottom: 6px;
        background: #f4f4f4;
        position: relative;
    }
    .propositions__boxes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
.propositions__box {
    flex: 100%;
}
    .propositions__heading {
        margin-bottom: 34px;
        color: #8d81ac;
        font-size: 32px;
        font-weight: 700;
         line-height: 28px;             
        text-align: center;
    }
    .boxes__box-heading {
        color: #323232;
        margin-top: 23px;
        margin-bottom: 16px;
         text-align: center;
    }
    .boxes__description {
        
        font-family: 'Lato', sans-serif;
        color: #848e97;
        font-size: 14px;
        text-align: center;
    }
.propositions__img {
    position: absolute;
    bottom: 0;
    right: 0;
}
