.clients-Co{
  padding-top: 77px;
  //padding-bottom: 49px;

  &__title{
    margin-bottom: 80px;
    font-size: 42px;
  }
  &__client {
    margin-bottom: 66px;
    width: 326px;
  }
  &__line{
    width: 360px;
    height: 1px;
  }
}
