.navbar{
  background-color: #262626;
  padding-top: 10%;
  padding-bottom: 10%;
}
.navbar__flex-wrapper {
  @include flex-space;
}
.navbar__logo-title {
  display: none;
}
.navbar__menu-block {
  position: relative;
  order: 2;
}

.navbar__menu {
  position: absolute;
  right: -100vw;
  transition: all 0.4s linear;
}

.navbar__buy-btn {
  order: 1;
  width: 145px;
  height: 38px;
}

