.callback {
    padding-top: 3.8vw;
    padding-bottom: 3.8vw;
}

.callback__flex-wraper {
    flex-direction: row;

}
.callback__heading {
    flex: 25%;
    margin-bottom: 0;
}
.form {
    flex: 75%;
    flex-direction: row;
}
.form__inputs {
    flex: 0;
}
.input {
    margin-right: 19px;
    margin-left: 0;
    margin-bottom: 0;
}
.input:last-child {
    margin-right: 19px;
}



