@media (min-width: 0px) {
    .modal {
        padding-top: 30px;
        padding-bottom: 42px;
        background-color: #f4f4f4;
    }
    .modal__form-heading {
        margin-bottom: 39px;
        color: #323232;
        font-size: 24px;
        text-align: center;
    }
    .modal__input {
        padding-top: 16px;
        padding-bottom: 15px;        
        display: block;
width: 290px;
height: 42px;
margin-top: 15px;
border-radius: 21px;
text-indent: 16px;
font-size: 14px;
font-weight: 400;
text-align: left;
        background-color: #ffffff;
                color: #c8cbcf;
    }
    .modal__input.submit {
        background-color: #8d81ac;
width: 140px;
height: 42px;
        font-size: 13px;
        text-transform: uppercase;
    }
}