/*@media (min-width: 401px) {}*/
.footer {
    padding-top: 5.8vw;
}
.logo-box__logo {       
    margin-bottom: 24px;
}
.footer__flex-blok {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*
.navbar__logo-title {
    display: block;
}
*/
