/*@media (min-width: 0px) {*/

.reviews {
    /*padding-top: 63px;*/
    padding-bottom: 12.5vw;
    /*padding-top: 19.7vw;*/
    text-align: center;
}

.slidershow-container {
    padding-top: 63px;
    padding-bottom: 35px;
    max-width: 1000px;
    position: relative;
    margin: auto;

}

.mySlides {
    padding: 0 31px;    
    font-family: 'Lato', sans-serif;
    color: #333333;
    text-align: center;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: rgb(178, 178, 178);
    font-weight: 100;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.prev {
    left: 0;
}
.mySlides__item_name {
    margin-bottom: 7px;
    color: #474747;
    font-size: 24px;
    font-weight: 700;
}


.mySlides__item_post {
    margin-bottom: 23px;
    color: $text-purple;
    font-size: 16px;
}

.mySlides__item_text {
    margin-bottom: 16px;
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 20px;
    line-height: 32px;
}

.mySlides__item_acsent {
    color: $text-purple;
}

.mySlides__item_time {
    color: #848e97;
    font-size: 16px;
    line-height: 32px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

/*buttons*/

.social-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-btns__button {
    margin-bottom: 30px;
}

.social-btns__btn {
    box-sizing: border-box;
    display: block;
    width: 280px;
    /*height: 50px;*/
    padding-left: 59px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    /*text-decoration: none;*/
    border-radius: 4px;
    position: relative;
    margin-bottom: 18px;
}

.social-btns__btn_github {
    background-color: #f3f3f3;
    color: #000000;
}
.social-btns__btn_github:hover {
    background-color: #2b414d;;
    color: #fff;
}
.social-btns__btn_twitter {
    background-color: #26a6d1;
    color: #ffffff;
}

.social-btns__btn_twitter:hover {
    border: 1px solid #26a6d1;
    background-color: #ffffff;
    color: #26a6d1;
}

.social-btns__btn_facebook {
    background-color: #3b5998;
    color: #ffffff;
}
.social-btns__btn_facebook:hover {
    border: 1px solid #3b5998;
    background-color: #ffffff;
    color: #3b5998;
}
.social-btns__details {
    color: $footer-text-color;
    font-size: 14px;
    line-height: 32px;
}

.fab {
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 25px;
}

/*.facebook-text {
    display: inline-block;
}*/
