.propositions__boxes {
    flex: 40%;
}
.propositions__box {
    
}
.proposition__wraper {
   
}
.boxes__box-heading{
   
}
.boxes__description {
   
}
.propositions__boxes {
    flex: 40%;
    order: -1; //задает порядок следования ел
   
}
.propositions__heading {
    flex: 50%;
}
.propositions__img {
     /*left: 612px;*/
    
}