$bcg-purple: #8e82ad;
$text-purple: #8d81ac;
$footer-text-color: #848e97;
$footer-header-color: #323232;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin btn {
  .btn {
    @include flex-center;
    border-radius:  50vh;
    box-sizing: border-box;
    color: #fff;
    transition: 0.3s;
  }
}

//можно еще сделать @mixin для кнопок социальных сетей под каруселью