@import 'reset';
@import 'variables';

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;

}

.logo {
  @include flex-center;
  &__img {
    width: 43px;
    height: 41px;
    background-image: url("../img/Logo-main-sprite.png");
    background-position: 0 0;
  }
  &__title {
    margin-left: 18px;
    font-size: 24px;
    text-transform: uppercase;
  }
}

@include btn;
.btn_pink {
  background-color: $bcg-purple;
  text-transform: capitalize;
  font-weight: 700;
}
.btn_pink:hover {
  border: 1px solid $text-purple;
  color: $text-purple;
  background-color: #fff;
}
.btn_grey {
  background-color: #806d7a;
  text-transform: uppercase;
  font-weight: 400;
}

@import 'navbar/navbar';