@import 'reset';
@import 'slick';
@import 'slick-theme';

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 23px;
    font-size: 16px;
}
.container {
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    
}
@import 'proposition/prop';
@import './rewievs/rewievs320';
@import 'footer/footer';


