@import 'reset';
@import 'variables';


body {
    font-family: 'Montserrat', sans-serif;
    line-height: 23px;
    font-size: 16px;
}
.container {
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    
}

.logo {
  @include flex-center;
  &__img {

  }
  &__title {
    margin-left: 18px;
    font-size: 24px;
    text-transform: uppercase;
  }
}

@include btn;
.btn_pink {
  background-color: $bcg-purple;
  text-transform: capitalize;
  font-weight: 700;
}

.btn_grey {
  background-color: #806d7a;
  text-transform: uppercase;
  font-weight: 400;
}

@import 'proposition/prop';
@import 'rewievs/rewievs';
@import 'callback/callback';
@import 'footer/footer';


